/* ========================================== */
/*                 BODY STYLING               */
/* ========================================== */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(99,61,0);
    background: rgba(25,20,20,1);
    min-height: 100vh; /* Full viewport height */
    min-width: 100vw; /* Full width */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
}

/* ========================================== */
/*                  HIDDEN                    */
/* ========================================== */

.hidden {
    font-family: "Flow Circular", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 20px;
}

.hidden-container {
    background: 
    repeating-radial-gradient(#000 0 0.0002%, #222 0 0.0004%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0002%, #222 0 0.0004%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b 0.2s infinite alternate;
    color: white;
}

/* ========================================== */
/*                   HEADER                   */
/* ========================================== */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #191414;
    color: white;
    box-shadow: 0 10px 20px #00000044;
}

header >img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.add-song-form {
    height: 100px;
    gap: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-song-form > input {
    border-radius: 6px;
    border: 1px solid #D1d5DB;
    padding: 5px 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    height: 40px;
    margin-left: 40px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.add-song-form > button {
    border-radius: 6px;
    border: none;
    background-color: rgba(99,61,0,1);
    color: white;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ========================================== */
/*                  USER GUIDE                */
/* ========================================== */

.user-guide {
    background-color: #292121;
    width: auto;
    line-height: 30px;
    min-width: 300px;
    padding: 20px 40px;
    transition: all 1s ease;
    font-weight: 700;
}

.typing-text {
    white-space: pre-wrap;
}

.cursor {
    animation: blink 1s step-start infinite;
}

/* ========================================== */
/*               SONG COMPONENT               */
/* ========================================== */

.song {
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 100vw;
    padding: 40px;
    background: rgb(99,61,0);
    background: linear-gradient(180deg, rgba(99,61,0,0.8365721288515406) 3%, rgba(25,20,20,1) 43%, rgba(0,0,0,1) 100%);
}

.song-title {
    margin-left: 30px;
    flex: 1;
}

.title-time-horizontal > h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.title-time-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-time-horizontal > span {
    text-align: right;
    margin-right: 30px;
}

.song-album-art {
    border-radius: 15px;
    width: 300px;
    min-width: 300px;
    height: 300px;
}

.song-album-art > img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0px 30px #0000007e;
}

/* ========================================== */
/*                 MAIN CARD                  */
/* ========================================== */

.main-card {
    width: calc(100vw - 80px);
    margin: 40px;
    background-color: #1d1717;
    border-radius: 15px;
}

/* ========================================== */
/*           MAIN CARD ARTIST DETIALS         */
/* ========================================== */

.main-card-top {
    display: inline-flex;
    align-items: center;
    background-color: #292121;
    border-radius: 15px;
    width: 100%;

}

.main-card-top > h1 {
    font-size: 80px;
    margin-left: 40px;
    font-weight: 900;
}

.artist-title-info {
    display: inline;
    padding: 40px;
}

.artist-title-info > h1 {
    font-size: 80px;
    line-height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.artist-title-info > h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.artist-container {
    min-height: 100%;
    min-width: 400px;
    border-radius: 15px;
    width: 400px;
    height: 400px;
}

.artist-container > img {
    border-radius: 15px 0 0 0;
    width: 400px;
    height: 400px;
}

/* ========================================== */
/*            MAIN CARD TOP SONGS             */
/* ========================================== */

.main-card-top-songs {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.song-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 10px;

}

.song-card:hover {
    background-color: #292121;
    border-radius: 10px;
}

.song-card > img {
    border-radius: 10px;
    box-shadow: 0 0 30px #000000;
}

.song-card-title {
    margin-left: 15px;
}

.song-card-title > h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: medium;
}

.song-card-title > span {
    font-weight: 500;
}

.song-card-duration {
    margin-left: auto;
    padding: 0 10px;
    font-weight: 500;
}

.song-card > span {
    margin-right: 30px;
}

/* ========================================== */
/*                 LISTEN ON                  */
/* ========================================== */

.listen-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    padding: 15px;
    border-radius: 15px;
}

.listen-on:hover {
    background-color: #1d1717;
    cursor: pointer
}


.listen-on > span {
    margin-bottom: 15px;
    font-weight: bold;
}

/* ========================================== */
/*                ANIMATIONS                  */
/* ========================================== */

@keyframes b {
    100% {
        background-position: 50% 0, 60% 50%;
    }
}

@keyframes blink {
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}